# Virtual environment
drone_env/
myenv/
venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE
.vscode/
.idea/

# Environment variables
.env

*.log
*.pyc
*.weights
*.pt
*.mp4
*.avi
